/* body */
#body {
    margin: 10px
}

/* NavigationBar */
#wrapper{
    margin: 10px
}

.row{
    margin-right: 15px;
    margin-left: 15px;
}


/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 2px;
    height: 100%;
    overflow-y: hidden;
    background: #B5C4CE;
    opacity: 0.9;
}

/* Always take up entire screen */
#page-content-wrapper {
    width: 80%;
    position: absolute;
    padding: 0px;
}


/* Change with of sidebar from 0 to 250px */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 180px;
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper {
   opacity: 1;
   transition: opacity 500ms ease-in;
    padding-left: 250px;
}


/* Sidebar styling - the entire ul list */
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover {
    background: #16A085;
}